<!-- <form [formGroup]="form" class="col-4 offset-3 " (ngSubmit)="data(form.value)">
  <input type="text" name=""  formControlName="name" class="form-control mt-2 mb-2" placeholder="Name">
  <input type="email" name="" formControlName="email" class="form-control" placeholder="email">
  <input type="password" name="" formControlName="password" class="form-control mt-2 mb-2" placeholder="password">
  <input type="text" name="" formControlName="role" class="form-control" placeholder="role">
  <button class="btn btn-primary mt-3 offset-8">Submit</button>
</form>

<div *ngFor="let data of recieved">
<p>{{data.name}}</p>
</div> -->
<app-forms></app-forms>